<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests">
  <test thread-count="5" name="TestNGFirst">
    <classes>
      <class name="ui.ExampleTest"/>
      <class name="ui.GroupTests"/>
      <class name="ui.VerifyTitlleText"/>
      <class name="ui.VerifyTitlleAndText2"/>
    </classes>
  </test> <!-- TestNGFirst -->
</suite> <!-- Suite -->
